/*По умолчанию*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #F9F7F4;
    width: 360px;
    color: black;
    height: 8184px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.container {
    width: 360px;
    margin: 0 auto;
    padding-left: 21px;
    padding-right: 21px;
}
/*Меню, шапка сайта*/
.banner {
    background: url(../materials/header-img.png) no-repeat;
    width: 360px;
    height: 488px;
    background-position: center center;
}

.hapca {
    width: 360px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

header {
    width: 320px;
    height: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 133px;
    height: 22px;
}

header .phone a{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.banner .face {
    text-align: center;
    color: #fff;
}

.banner .face h1 {
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 2%;
    width: 360px;
    height: 114px;
    align-items: center;
    text-align: center;
    margin-top: 52px;
    margin-bottom: 40px;
}

.banner .face p {
    font-size: 16px;
    font-weight: 400;
    width: 310px;
    height: 69px;
    line-height: 142%;
    letter-spacing: 0%;
    margin: 0px auto 40px auto;
}

.banner .face a {
    color: black;
    background: #fff;
    width: 114px;
    height: 33px;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
    letter-spacing: -1%;
    transition: all 500ms ease;
}

/*Выбери свой тур*/

.tour {
    height: 2172px; 
    margin-top: 75px;
    margin-bottom: 75px;
}

.tour .text1 {
    height: 124px;
    margin: 0 auto 50px auto;
}

.tour .text1 h2 {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 112%;
    letter-spacing: 2%;
}

.tour .text1 .category {
    height: 56px;
}

.tour nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 142%;
    justify-content: center;
}

.tour nav ul li {
    color: black;
    border-bottom: 2px solid transparent;
}

.tour nav ul li:active {
    color: #EFA501;
    border-bottom: 2px solid #EFA501;
}

.line {
    width: 318px;
    height: 1998px;
}

.tour .line-1 {
    margin-bottom: 10px;
}

.tours-1, .tours-2, .tours-3, .tours-4, .tours-5, .tours-6 {
    width: 318px;
    height: 318px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.tours-1, .tours-2, .tours-3, .tours-4, .tours-5 {
    margin-bottom: 18px;
}


.tours-1 .img, .tours-2 .img, .tours-3 .img, .tours-4 .img, .tours-5 .img, .tours-6 .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.tours-1::after, .tours-2::after, .tours-3::after,
.tours-4::after, .tours-5::after, .tours-6::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(360deg,rgba(0, 0, 0, 0.4) 0%,rgba(0, 0, 0, 0.06) 48.44%,rgba(0, 0, 0, 0.5) 100%);
    z-index: 1;

}

.tours-1 .price, .tours-2 .price, .tours-3 .price, .tours-4 .price, .tours-5 .price, .tours-6 .price {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 288px;
    height: 64px;
    color: white;
    z-index: 2;
}

.tours-1 .price h3, .tours-2 .price h3, .tours-3 .price h3, .tours-4 .price h3, .tours-5 .price h3, .tours-6 .price h3 {
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 4%;
}

.tours-1 .price p, .tours-2 .price p, .tours-3 .price p, .tours-4 .price p, .tours-5 .price p, .tours-6 .price p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 13px;
    line-height: 142%;
    letter-spacing: -1%;
}

.tours-1 button, .tours-2 button, .tours-3 button, .tours-4 button, .tours-5 button, .tours-6 button {
    position: absolute;
    bottom: 25px;
    left: 25px;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 700;
    width: 123px;
    height: 26px;
    gap: 15px;
    color: white;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tours-1 button img, .tours-2 button img, .tours-3 button img, .tours-4 button img, .tours-5 button img, .tours-6 button img {
    width: 22px;
    height: 15px;
    margin-left: 1px;
}

/*Собери свой тур*/

.create-tour {
    height: 1254px;
    box-sizing: border-box;
}

.create-tour .text2 {
    width: 318px;
    height: 104px;
    margin: 0 auto 40px auto;
}

.create-tour .text2 h2 {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 112%;
    letter-spacing: 2%;
}

.create-tour .text2 p {
    color: #A6A6A6;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 142%;
}

.create-tour .fields {
    box-sizing: border-box;
    width: 318px;
    height: 1110px;
    border-radius: 30px;
    padding: 20px 20px 40px 20px;
    background: #FFFFFF;
}

.create-tour .where-tour select{
    border: none;
    background: none;
    background-color: #F9F7F4;
    border: 1px solid #F4F0E9;
    display: block;
    width: 278px;
    height: 46px;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    outline: none;
    margin-top: 8px;
    margin-bottom: 30px;
    color: #A6A6A6 ;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../materials/list-strelca.png);
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 16px;
}

.create-tour label {
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
}

.create-tour input {
    box-sizing: border-box;
    background-color: #F9F7F4;
    border: 1px solid #F4F0E9;
    display: block;
    width: 278px;
    height: 43px;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    outline: none;
    margin-top: 8px;
    margin-bottom: 30px;
}

.create-tour input::placeholder {
    color: #A6A6A6;
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
}


.create-tour .fields form textarea {
    box-sizing: border-box;
    background: #F9F7F4;
    border-radius: 10px;
    border: 1px solid ;
    border-color: #F4F0E9;
    font-size: 16px;
    font-weight: 400;
    display: block;
    padding: 10px;
    outline: none;
    margin-top: 8px;
    resize: none;
    height: 132px;
    width: 278px;
    margin-bottom: 30px;
}

.create-tour form .radio {
    width: 278px;
    height: 54px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 31px;   
}

.create-tour form .radio p {
    width: 278px;
    height: 23px;
    margin-bottom: 8px;
}

.create-tour form .radio .btr {    
    display: flex;
    align-items: center;
    gap: 30px;
    width: 139px;
    height: 23px;
}

.create-tour form .radio .btr label {
    display: flex;
    gap: 10px;
}

.create-tour form .radio .btr input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
}

.create-tour form .radio .btr input[type="radio"]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #1B1F2B;
    border-radius: 50%;
    background-color: white;
    box-sizing: border-box;
}

.create-tour form .radio .btr input[type="radio"]::after {
    content: '';
    position: absolute;
    top: 5.38px;     
    left: 5.38px;    
    width: 9.23px;
    height: 9.23px;
    border-radius: 50%;
    background-color: #1B1F2B;
    opacity: 0;
    transition: opacity 0.2s;
    box-sizing: border-box;
}

.create-tour form .radio .btr input[type="radio"]:checked::after {
    opacity: 1;
}

.create-tour form .contract {
    width: 278px;
    height: 69px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 30px 0;
    gap: 10px;
}

.create-tour form .contract input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    width: 20px;
    height: 20px;
    position: relative;
    top: -24.5px;
    cursor: pointer;
    flex-shrink: 0;
}

.create-tour form .contract input[type="checkbox"]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #1B1F2B;
    border-radius: 20%;
    background-color: white;
    box-sizing: border-box;
}

.create-tour form .contract input[type="checkbox"]::after {
    content: url(../materials/Rectangle\ 36\ \(Stroke-360\).png);
    position: absolute;
    background-position: center;  
    left: 5.07px; 
    opacity: 0;
    transition: opacity 0.2s;
    box-sizing: border-box;
}

.create-tour form .contract input[type="checkbox"]:checked::after {
    opacity: 1;
}

.create-tour form .contract p {
    width: 248;
    height: 69px;
    color: #A6A6A6;
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
    letter-spacing: 0%;
}

.create-tour form .contract p span {
    color: black;
}

.create-tour form .btrs {
    width: 278px;
    height: 47px;
    display: flex;
    justify-content: space-between;
}

.create-tour form .btrs a {
    width: 134px;
    height: 47px;
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
    border-radius: 10px;
    background: #286562;
    color: white;
    text-align: center;
    line-height: 47px;
}

.create-tour form .btrs .reset {
    border: none;
    background: none;
    width: 134px;
    height: 47px;
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
    border-radius: 10px;
    background: #E0F0E5;
    color: #286562;
} 

input[type="radio"] {
   accent-color: black; 
}

input[type="checkbox"] {
    accent-color: transparent;
    color: black;
}

/*Отзывы*/

.reviews { 
    height: 1210px;
    margin-top: 75px;
    margin-bottom: 75px;
}

.reviews .text3 {
    height: 142px;
    padding-left: 21px;
    padding-right: 21px;
    margin: 0 auto 50px auto;
}

.reviews .text3 h2 {
    width: 318px;
    height: 76px;
    font-weight: 700;
    font-size: 34px;
    line-height: 112%;
    text-align: center;
    margin-bottom: 20px;
}

.reviews .text3 p {
    width: 318px;
    height: 46px;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
    color: #A6A6A6;
}

.card-review { 
    height: 1018px;
    padding-left: 21px;
    padding-right: 21px;
}

.card-review .card1 {
    box-sizing: border-box;
    width: 318px;
    height: 408px;
    border-radius: 20px;
    background: #F4F0E9;
    padding: 20px;
    margin-bottom: 18px;
}

.card-review .card2 {
    box-sizing: border-box;
    width: 318px;
    height: 592px;
    border-radius: 20px;
    background: #F4F0E9;
    padding: 20px;    
}

.card-review .card1 p {
    font-size: 16px;
    font-weight: 700;
    line-height: 142%;
    width: 278px;
    height: 253px;
}

.card-review .card2 p {
    font-size: 16px;
    font-weight: 700;
    line-height: 142%;
    width: 278px;
    height: 437px;
}

.card-review .card-person {
    width: 278px;
    height: 115px;
    display: flex;
    box-sizing: border-box;
}

.card-person .person {
    margin-top: 56px;
    width: 203px;
    height: 59px;
}

.card-person .person h3 {
    font-size: 23px;
    font-weight: 700;
    width: 203px;
    height: 28px;
    line-height: 120%;
    letter-spacing: 4%;
    margin-bottom: 8px;
}

.card-person .person p {
    font-size: 16px;
    font-weight: 400;
    width: 203px;
    height: 23px;
    line-height: 142%;
    letter-spacing: -1%;
    color: #A6A6A6;
}

.card-person img {
    margin-top: 40px;
    width: 75px;
    height: 75px;
    border-radius: 100px;
}



/*Путешествия*/

.gallery {
    width: 360px;
    height: 558px;
}

.gallery .text4 {
    width: 360px;
    height: 142px;
    margin: 0 auto 50px auto;
    padding-left: 21px;
    padding-right: 21px;
}

.gallery .text4 h2 {
    width: 318px;
    height: 76px;
    font-weight: 700;
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 2%;
    text-align: center;
    margin-bottom: 20px;
}

.gallery .text4 p {
    width: 318px;
    height: 46px;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
    color: #A6A6A6;
}

.gallery .gallery-img {
    box-sizing: border-box;
    width: 360px;
    height: 366px;
    padding: 0 21px;
}

.gallery-img .gallery-line, .gallery-img .gallery-line2, .gallery-img .gallery-line3 {
    display: flex;
    width: 318px;
    height: 110px;

}

.gallery-img .gallery-line {
    gap: 18px;
}

.gallery-img .gallery-line2, .gallery-img .gallery-line3 {
    gap: 10px;
}

.gallery-img .gallery-line, .gallery-img .gallery-line2 {
    margin-bottom: 18px;
}

.gallery-line .img1 {
    width: 150px;
    height: 110px;
    border-radius: 20px;
    object-fit: cover;
}

.gallery-line2 .img1-1{
    width: 99.33px;
    height: 110px;
    border-radius: 20px;
    object-fit: cover;
}
 .gallery-line3 .img3-1 {
    width: 154px;
    height: 110px;
    border-radius: 20px;
    object-fit: cover;
}

/*Истории*/

.histiry {
    width: 360px;
    height: 1597px;
    margin-top: 75px;
    margin-bottom: 75px;
}

.histiry .text5 {
    width: 360px;
    height: 142px;
    margin: 0 auto 50px auto;
    padding: 0 21px;
}

.histiry .text5 h2 {
    width: 319px;
    height: 76px;
    font-weight: 700;
    font-size: 34px;
    line-height: 112%;
    text-align: center;
    margin-bottom: 20px;
}

.histiry .text5 p {
    width: 319px;
    height: 46px;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
    color: #A6A6A6;
}

.histiry .stories {
    width: 318px;
    height: 1405px;
    
}

.card-stories1, .card-stories2, .card-stories3 {
    cursor: pointer;
    width: 318px;
    height: 455px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.card-stories1,.card-stories2 {
    margin-bottom: 20px;
}

.card-stories1 .img, .card-stories2 .img, .card-stories3 .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-stories1::after, .card-stories2::after, .card-stories3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
    z-index: 1;
} 

.histiry .story {
    position: absolute;
    width: 263px;
    height: 306px;
    top: 30px;
    left: 30px;
    color: white;
    box-sizing: border-box;
    z-index: 3;
}

.histiry .story h3 {
    width: 263px;
    height: 56px;
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 20px;
    letter-spacing: 4%;
}

.histiry .story p {
    width: 263px;
    height: 230px;
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;

}

.histiry .stories .card-stories1 .story ul {
    outline: none;
    padding-left: 25px;
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
    position: absolute;
    bottom: -20px;
}

.histiry button {
    position: absolute;
    bottom: 30px;
    left: 40px;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 700;
    width: 123px;
    height: 26px;
    gap: 15px;
    color: white;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.histiry button img {
    width: 22px;
    height: 15px;
    margin-left: 15px;
}

/*Конец*/

.the-end {
    width: 360px;
    height: 285px;
    gap: 30px;
}

.the-end img {
    width: 130px;
    height: 133px;
    border-radius: 20px;
    margin-left: 115px;
    margin-bottom: 30px;
}

.the-end .text6 {
    width: 291px;
    height: 122px;
    margin: 0 auto;
}

.the-end .text6 h3 {
    width: 291px;
    height: 56px;
    margin-bottom: 20px;
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 4%;
    text-align: center;
    margin-bottom: 20px;
}

.the-end .text6 p {
    width: 291px;
    height: 46px;
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
    color: #A6A6A6;
    text-align: center;
}

.the-end .text6 p a {
    color: black;
}

/*Подвал*/

footer {
    margin-top: 75px;
    width: 360px;
    height: 98px;
    background: #F4F0E9;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .foot {
    width: 318px;
    height: 56px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    color: #A6A6A6;
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
}

footer .foot .p-foot {
    margin-bottom: 7px;
}

footer .foot .social-network {
    color: black;
    width: 313px;
    height: 26px;
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 0 auto;
}

footer .foot .social-network .telegram, footer .foot .social-network .facebook, footer .foot .social-network .vkontakte {
    display: flex;
    gap: 5px;
}

.foot a{
    color: black;
}
